#belarus{
    width: 400pt;
    font-size: 15pt;
    text-align: justify;
    color: royalblue;
}
#people{
    width: 500pt;
    font-size: 15pt;
    text-align: justify;
    color: rgb(255, 38, 0);
}
div{
    text-indent: 25pt;
    
}
.image{
    margin-left: auto;
    margin-right: auto;
}